In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('sales_data.csv')
df.head()

   sales        date
0    112  2022-08-21
1    118  2022-08-22
2    132  2022-08-23
3    129  2022-08-24
4    121  2022-08-25

In [7]:
df.index = pd.to_datetime(df['date'])

In [8]:
print(df.index[0])
print(df.index[-1])

2022-08-21 00:00:00
2023-01-11 00:00:00

In [9]:
len(df)

144